$background: #EFEFEF;

body {
    margin: 0;
    padding: 0;
}
// .main {
//     $this: &;
//     display: flex;
//     flex-direction: column;
    
//     %btns {
//         display: flex;
//         justify-content: center;
//     }

//     &__first {
//         align-items: center;
//         @extend %btns;
//         gap: 30px;
//         padding: 17px 0;
//         background-color: $background;
//     }

//     &__second {
//         @extend %btns;
//         align-items: end;
//         height: 149px;

//         &--head {
//             display: flex;
//             justify-content: space-around;
//             position: absolute;
//             align-items: end;
//             height: 170px;
//             top: 0;
//             border: 2px solid black;
//             width: 100vw;
    
    
//             #{$this}__btn {}
//         }


//         &--head > div {
//             padding-bottom: 20px;
//         }

       

//         #{$this}__menu {
//             @extend %btns;
//             gap: 40px;
//         }
//     }

//     &__images {
//         display: flex;
//         min-width: 240px;
//         max-width: 240px;
//         height: 80px;
//         align-items: center;

//         &--left {
//             flex: 1 1 80px;
//             height: 80px;
//             aspect-ratio: 1/1;
//             background-image: url('../assets/logo.svg');
//             background-repeat: no-repeat;
//             background-position: 50% 50%;
//         }

//         &--right {
//             flex: 1 1 158px;
//             height: 39px;
//             background-image: url('../assets/BEAUTY.svg');
//             background-repeat: no-repeat;
//             background-position: 50% 50%;
//         }
//     }
// }
.header {
   
    &__navigation {
        gap: 30px;
    }

    &__second-line {
        height: 149px;
    }

    &__info {
        flex: 1 1;
    }

    &__main-menu {
        flex: 1 1;
        gap: 40px;
    }
}

.navigation {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: space-around;
}

.second-line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div[class*="header"] {
    border: 2px solid black;
}

.two-elements {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 40px;

   
}

.logo {
    width: 80px;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    background-image: url('../assets/logo.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.second-line {
    display: flex;
    border: 2px solid black;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__top {
        height: 100%;
        width: inherit;
    }

    &__goods {
        width: 255px;
    }

    &__box3 {
        display: flex;
    }

    &__image {
        width: 140px;
        order: 2;
    }
}

.sale {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}

.grid {
    display: grid;
    width: 540px;
    grid-auto-rows: minmax(212px, 363px);
    border: 2px solid black;
}

.goods {
    
    height: 100%;
    border: 2px solid black;
}
.image {
    height: 166px;
    padding: 25px 0 20px 0;
    background-image: url('../assets/logo.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.informing {}

.name {
    width: 195px;
    text-align: center;
    // padding-bottom: 20px;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.box3 {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 212px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;

    &__wrapper {
        width: 100%;
        gap: 105px;
        justify-content: center;
    }
    
    &__icons {
        gap: 205px;
    }
}