$gold: #FFCF7A;
$background: #1D1D1B;
// В хедере и в самом низу футера
$lightBlack: #6D6D6D;
// Только в хедере и футере
$textGrayHeaderFooter: #949494;
// Только в 5ой секции
$textGray2: #757575;
// Только в последней секции
$textGray:rgba(255, 255, 255, 0.5);
$plus: #ECCF94;
$footer-background: #121212;