.svg, .svgView {
    width: min(848px, 50vw);
    height: 1017px;
    min-width: 630px;
}

.svg2-image {
    x: -10px;
    y: 276;
}

.svg-blur1 {
    x: 57px;
    y: 202px;
}

.svg-blur2 {
    x: 46px;
    y: -7px;
}

.svg-cirlcle-mask2 {
    cx: 215;
    cy: 621px;
    rx: 60;
    ry: 60;
}

.svg-cirlcle-mask1-border {
    cx: 72px;
    cy: 607px;
}

.svg-cirlcle-mask2-border {
    cx: 127px;
    cy: 659px;
}

.svg-cirlcle-mask1 {
    cx: 129px;
    cy: 541px;
}

.vg-cirlcle-mask-opacity {
    opacity: 1;
}